[Unit]
Description=Node64 Client Script
After=network.target
StartLimitIntervalSec=0

[Service]
Environment="Node64Secret=<deinsecret>"
Environment="Node64Color=False"
Type=simple
Restart=always
RestartSec=30
WorkingDirectory=/opt/ipv64_client/
ExecStart=python3 node64.py

[Install]
WantedBy=network-online.target
