name: Build docker file for PythonDiscordBot

on:
  schedule:
  - cron: "0 0 * * MON"
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]


jobs:
  steps:
    runs-on: ubuntu-latest
    if: github.repository == 'JonathanN1203/ipv64_client'
    steps:
      - name: Set env
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - name: Test environment variable
        run: echo ${{ env.RELEASE_VERSION }}
      - name: Check out GitHub repo
        uses: actions/checkout@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build image and push to Docker Hub
        uses: docker/build-push-action@v3
        with:
          file: devices/Docker/Dockerfile
          push: true
          tags: jonathann1203/node64_client:v1